@tailwind base;
@tailwind components;
@tailwind utilities;

.info_paragraphs {
    font-size: 1.25em;
}

.small_text {
    font-size: .75em;
}

.blue_text {
    color: #00416b;
}

#intro {
    margin-top: .5em;
}

@media (min-width: 576px) {
    #body_components > * {
        padding-top : 3.5em;
    }
}