#app_root {
    background-color: #edf4d7;
}

.info_paragraphs {
    font-size: 1.25em;
}

.small_text {
    font-size: .75em;
}

.green_text {
    color: rgb(60, 127, 28);
}

#intro {
    margin-top: .5em;
}